:global(body) {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.AppIntro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
